# Misc
.vscode
/ignore
**!gitignore*

# Installed dependencies
node_modules

# Compiled files
/build

# Output files
/out

# Environment variables but not the `env.example` files
.env
.env.*
!.env.example